@media only screen and (max-width: 1700px) { 
    .card1 {
        margin-left: 50%;
    }

    .enjoy {
        margin-top: 20px;
    }

    .footer1 {
        margin-top: 60%;
    }

}

@media only screen and (max-width: 1600px) { 
    .card1 {
        margin-left: 30%;
    }

}

@media only screen and (max-width: 1500px) { 
    .card1 {
        margin-left: 10%;
    }

    canvas {
        height: 500px;
    }

    #topStuff {
        margin-left: 0px;
    }
}


@media only screen and (max-width: 1400px) { 
    .card1 {
        /* margin-left: 40%; */
    }

}

@media only screen and (max-width: 1300px) { 

    .card1 {
        margin-top: 300px;
        /* margin-left: 30%;         */
    }
}

@media only screen and (max-width: 1130px) { 

    .bottomInfo1 {
        height: 400px;
    }
}

@media only screen and (max-width: 1150px) { 
    .card1 {
        margin-left: -4%;
    }

    .footer1 {
        margin-top: 80%;
    }
}

@media only screen and (max-width: 1100px) { 
    .card1 {
        margin-left: -10%;
    }
}

@media only screen and (max-width: 1050px) { 
    .card1 {
        margin-left: -15%;
    }

    .enjoy {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1000px) { 
    .card1 {
        margin-left: -18%;
    }
}

@media only screen and (max-width: 991px) and (min-width: 400px) { 
    .navitem1 {
        position: absolute;
        right: 20px;
        top: 50px;
    }
    
    .navitem2 {
        position: absolute;
        right: 20px;
        top: 80px;
    }
    
    .navitem3 {
        position: absolute;
        right: 20px;
        top: 110px;
    }

    /* .card1 {
        margin-left: 5%;
    } */
}

@media only screen and (max-width: 960px) { 
    #myCanvas {
        height: 400px;
    }  

    .footer1 {
        margin-top: 100%;
    }

    /* .card1 {
        margin-left: 0;
    } */
}

@media only screen and (max-width: 900px) { 
    .card1 {
        margin-left: 0;
        width: 600px;
    }

    #topStuff {
        margin-left: -5%;
    }
}

@media only screen and (max-width: 884px) { 
    .bootcamp {
        transform: scale(.75, .75);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: -25px;
    }

    .bottomInfo1 {
        height: 380px;
    }

    
    .enjoy {
        margin-top: -20px;
        font-size: 20px;
    }

    /* .bottomInfo1 {
        height: 400px;
    } */
}


@media only screen and (max-width: 875px) { 
    .card1 {
        margin-left: 2%;
        margin-top: 300px;
        /* margin-top: 450px; */
    }
    
    .card-body {
        height: 175px;
    }


    .iconimages1 {
        height: 75px;
        width: 75px;
    
    }
    
    .cardicons {
        position: absolute;
        bottom: 12px;
        left: 40px;
        width: 100%;
    }
    
    .iconRow1 {
        margin-left: 0px;
    } 
}

@media only screen and (max-width: 850px) { 
    #topStuff {
        position: absolute;
        left: 25%;
    }  

    .bootcamp {
        transform: scale(.6, .6);
    }

    .educationBullet {
        margin-top: -10px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bottomInfo1 {
        height: 360px;
    }

    .subBullet {
        transform: scale(.7, .7);
        margin-left: -50px;
    }
}

@media only screen and (max-width: 760px) { 
    .enjoy {
        margin-top: -40px;
        margin-left: -30px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 745px) { 
    .bottomInfo1 {
        height: 380px;
    }
}

@media only screen and (max-width: 720px) { 
    .card1 {
        margin-top: 330px;
    }
}


@media only screen and (max-width: 700px) { 
    #topStuff {
        position: absolute;
        left: 20%;
    } 
    
    .card1 {
        margin-left: 10%;
        margin-top: 360px;
        width: 400px;
    }
    
    .card-body {
        height: 150px;
    }
    
    .iconimages1 {
        height: 65px;
        width: 65px;
    
    }
    
    .cardicons {
        position: absolute;
        bottom: 12px;
        left: 20px;
        width: 100%;
    }
    
    .iconRow1 {
        margin-left: 0px;
    } 

    .educationBullet {
        margin-top: -15px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bootcamp {
        transform: scale(.6, .6);
    }

    .subBullet {
        margin-top: -10px;
    }
}


/* @media only screen and (max-width: 700px) { 
    .card {
        margin-left: 2%;
        margin-top: 300px;
    }
    
    .iconimages1 {
        height: 50px;
        width: 50px;
    
    }
    
    .cardicons {
        position: absolute;
        bottom: 12px;
        left: 20px;
        width: 100%;
    }
    
    .iconRow1 {
        margin-left: 0px;
    } 
} */

@media only screen and (max-width: 650px) { 
    .theThree {
        margin-top: 30px;
    }
}




@media only screen and (max-width: 600px) { 
    #topStuff {
        position: absolute;
        left: 14%;
    }

    .educationBullet {
        margin-top: -25px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bootcamp {
        transform: scale(.6, .6);
    }

    .subBullet {
        margin-top: -20px;
    }

    .footer1 {
        margin-top: 120%;
    }
}

@media only screen and (max-width: 595px) { 
    .card1 {
        margin-top: 320px;
    }

    .bridging {
        margin-top: -70px;
    }

    .bridging {
        margin-top: -70px;
    }
}

@media only screen and (max-width: 593px) { 
    .card1 {
        margin-top: 380px;
    }
}

@media only screen and (max-width: 575px) { 
    .card1 {
        margin-left: 15%;
        margin-top: 1080px;
        width: 400px;
    }
    .footer1 {
        margin-top: 290%;
    }

    .carousel-inner {
        height: 2000px;
    }

    .bottomInfo1 {
        margin-bottom: 10px;
    }
 
    .card-body {
        margin-left: 20px;
    }

    .makeSmaller {
        margin-left: 40px;   
        width: 30px; 
    }

    .bootcamp {
        transform: scale(1, 1);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: 0px;
    }

    .subBullet {
        transform: scale(1, 1);
        margin-left: 0px;
        margin-top: 0px;
    }

    .iconimages1 {
        height: 40px;
        width: 40px;
    }

    .fbicon1 {
        margin-left: 45px;
        margin-top: 10px;
    }

    .linkedinicon1 {
        margin-left: 95px;
        margin-top: -80px;
    }

    .enjoy {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 560px) { 

    .card1 {
        margin-left: 15%;
        margin-top: 1150px;
        width: 400px;
    }

    .carousel-inner {
        height: 2300px;
    }
}

@media only screen and (max-width: 540px) { 
    .card1 {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 500px) { 
    .card1 {
        margin-left: 4%;
        margin-top:1250px;
    }

    .footer1 {
        margin-top: 330%;
    }
}

@media only screen and (max-width: 460px) { 
    #topStuff {
        position: absolute;
        left: 5%;
    }

    .card1 {
        margin-left: 15%;
        margin-top: 1200px;
        width: 300px;
    }
    
    .footer1 {
        margin-top: 360%;
    }

    .iconRow1 {
        width: 250px;
    }

    .cardicons {
        margin-right: 25px;
    }

    .linkedinicon1 {
        margin-left: 120px;
        margin-top: -80px;
    }

    .fbicon1 {
        margin-left: 45px;
        margin-bottom: 10px;
    }

    .emailicon1 {
        margin-bottom: -95px;
        margin-left: -40px;    
    }
}



@media only screen and (max-width: 420px) { 
    .footer1 {
        margin-top: 400%;
    }

    .card1 {
        margin-left: 10%;
        margin-top: 1300px;
    }

    .bottomInfo1 {
        height: 375px;
    }
}

@media only screen and (max-width: 400px) { 
    .footer1 {
        margin-top: 430%;
    }

}

@media only screen and (max-width: 370px) { 
    .footer1 {
        margin-top: 450%;
    }

    .card1 {
        margin-left: 8%;
        margin-top: 1300px;
        width: 250px;
    }

    .bottomInfo1 {
        height: 390px;
    }

    .iconRow1 {
        margin-bottom: -20px;
        margin-left: -20px;
    }
}


@media only screen and (max-width: 355px) { 
    .footer1 {
        margin-top: 480%;
    }

}