


@media only screen and (max-width: 1500px) { 
    .card2 {
        margin-left: 20%;
    }

    canvas {
        height: 500px;
    }

    #topStuff {
        margin-left: 0px;
    }
}


@media only screen and (max-width: 1300px) { 

    .card2 {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 1130px) { 

    .bottomInfo {
        height: 400px;
    }
}

@media only screen and (max-width: 1150px) { 
    .card2 {
        margin-left: 14%;
    }
}

@media only screen and (max-width: 1100px) { 
    .card2 {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1050px) { 
    .card2 {
        margin-left: 9%;
        margin-top: 170px;

    }
}

@media only screen and (max-width: 1000px) { 
    .card2 {
        margin-left: 6%;
    }

    .footer2 {
        margin-top:600px;
    }
}


@media only screen and (max-width: 960px) { 
    #myCanvas {
        height: 400px;
    }  

}

@media only screen and (max-width: 900px) { 
    .card2 {
        margin-left: 15%;
        width: 600px;
    }

    #topStuff {
        margin-left: -5%;
    }
}

@media only screen and (max-width: 884px) { 
    .bootcamp {
        transform: scale(.75, .75);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: -25px;
    }

    .bottomInfo {
        height: 380px;
    }

    /* .bottomInfo {
        height: 400px;
    } */
}


@media only screen and (max-width: 875px) { 
    .card2 {
        margin-left: 13%;
        margin-top: 150px;
        /* margin-top: 450px; */
    }
    
    .card-body2 {
        height: 175px;
    }


    .iconimages2 {
        height: 75px;
        width: 75px;
    
    }
    
    .cardicons {
        position: absolute;
        bottom: 12px;
        left: 40px;
        width: 100%;
    }
    
    .iconRow2 {
        margin-left: 0px;
    } 
}

@media only screen and (max-width: 850px) { 
    #topStuff {
        position: absolute;
        left: 25%;
    }  

    .bootcamp {
        transform: scale(.6, .6);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bottomInfo {
        height: 360px;
    }

    .subBullet {
        transform: scale(.7, .7);
        margin-left: -50px;
    }
}

@media only screen and (max-width: 767px) { 
    .group {
        transform: scale(1.75,1.75);
        margin-top: 190px;
        margin-left: 40%;
        margin-right: -10%;
    }

    .footer2 {
        margin-top: 400%;
    }

    #triviaGame {
        margin-top: 80px;
    }

    .words {
        margin-left: 20%;
    }

    a.githubLink {
        position: absolute;
        bottom: -90px;
    }
    
    a.card-link {
        position: absolute;
        bottom: -90px;
    }

    .githublink {
        margin-left: 30%;
    }

    .fbicon2 {
        margin-top: -240px;
    }

    .linkedinicon2 {
        margin-top: -240px;
    }

    .technologies {
        position: absolute;
        bottom: -130px;
        left: 40%;
    }

}

@media only screen and (max-width: 745px) { 
    .bottomInfo {
        height: 380px;
    }
}

@media only screen and (max-width: 720px) { 
    .card2 {
        margin-top: 330px;
    }
}


@media only screen and (max-width: 700px) { 
    #topStuff {
        position: absolute;
        left: 20%;
    } 
    
    .card2 {
        margin-left: 17%;
        margin-top: 270px;
        width: 400px;
    }
    
    .card-body2 {
        height: 150px;
    }
    
    .iconimages2 {
        height: 65px;
        width: 65px;
    }

    .iconRow2 {
        margin-left: -40px;
    }
    
    .cardicons {
        position: absolute;
        bottom: 12px;
        left: 20px;
        width: 100%;
    }
    


    .educationBullet {
        margin-top: -15px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bootcamp {
        transform: scale(.6, .6);
    }

    .subBullet {
        margin-top: -10px;
    }

    /* .footer2 {
        margin-top: 600%;
    } */
}

@media only screen and (max-width: 675px) { 
    .githublink {
        margin-top: 20%;
    }

    .footer2 {
        margin-top: 430%;
        
    }
}

@media only screen and (max-width: 650px) { 
    .theThree {
        margin-top: 30px;
    }

    .footer2 {
        margin-top: 450%;

    }
}




@media only screen and (max-width: 600px) { 
    #topStuff {
        position: absolute;
        left: 14%;
    }

    .educationBullet {
        margin-top: -25px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bootcamp {
        transform: scale(.6, .6);
    }

    .subBullet {
        margin-top: -20px;
    }

    .footer2 {
        margin-top: 480%;
    }
}

@media only screen and (max-width: 595px) { 
    .card2 {
        margin-top: 320px;
    }
}

@media only screen and (max-width: 575px) { 
    .card2 {
        margin-left: 15%;
        /* margin-top: 1080px; */
        width: 400px;
    }
    .footer2 {
        margin-top: 500%;
    }

    .fbicon2 {
        margin-top: -240px;
    }

    .linkedinicon2 {
        margin-top: -240px;
    }

    .bottomInfo {
        margin-bottom: 10px;
    }
 
    .card-body2 {
        margin-left: 20px;
    }

    .makeSmaller {
        margin-left: 20px;    
    }

    .bootcamp {
        transform: scale(1, 1);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: 0px;
    }

    .subBullet {
        transform: scale(1, 1);
        margin-left: 0px;
        margin-top: 0px;
    }

    .carousel-inner {
        height: 3500px;
    }

    .group {
        transform: scale(1.50,1.50);
        margin-top: 160px;
        margin-left: 20%;
    }

    .words {
        margin-left: 10%;
    }

    .githublink {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 550px) { 
    .footer2 {
        margin-top: 520%;
    }
}

@media only screen and (max-width: 540px) { 
    .card2 {
        margin-left: 10%;
    }
}

/* @media only screen and (max-width: 520px) { 

} */

@media only screen and (max-width: 530px) { 

    .footer2 {
        margin-top: 550%;
    }
}

@media only screen and (max-width: 500px) { 
    .card2 {
        margin-top: 280px;
    }

    .footer2 {
        margin-top: 580%;
    }
}

/* @media only screen and (max-width: 480px) { 

} */

@media only screen and (max-width: 460px) { 
    #topStuff {
        position: absolute;
        left: 5%;
    }

    .card2 {
        margin-left: 18%;
        margin-top: 120px;
        width: 300px;
    }
    

    .iconRow2 {
        width: 250px;
    }

    .iconimages2 {
        height: 30px;
        width: 30px;
    }

    .mailImage {
        height: 20px;
        width: 20px;
    }

    .makeSmaller {
        width: 30px;
        margin-left: 30px;
    }

    .fbicon2 {
        margin-top: -240px;
        margin-left: 20px;
    }

    .linkedinicon2 {
        margin-top: -240px;
        margin-left: 20px;
    }
    
    .emailicon2 {
        margin-bottom: 18px;
    }
}

@media only screen and (max-width: 450px) { 

    .githublink {
        margin-top: 15%;
    }

    .footer2 {
        margin-top: 600%;
    }
}

@media only screen and (max-width: 400px) { 
    .footer2 {
        margin-top: 700%;
    }
}