


@media only screen and (max-width: 1500px) { 
    .card2 {
        margin-left: 20%;
    }

    canvas {
        height: 500px;
    }

    #topStuff {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1300px) { 

    .column {
        margin-left: 15%;
       
    }
}


@media only screen and (max-width: 1300px) { 

    .card2 {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 1270px) { 

    .footer2 {
        margin-top:700px;
    }
}

@media only screen and (max-width: 1130px) { 

    .bottomInfo {
        height: 400px;
    }
}

@media only screen and (max-width: 1150px) { 
    .card2 {
        margin-left: 14%;
    }
}

@media only screen and (max-width: 1100px) { 
    .card2 {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1050px) { 
    .card2 {
        margin-left: 9%;
        margin-top: 170px;

    }
}

@media only screen and (max-width: 1000px) { 
    .card2 {
        margin-left: 6%;
    }

    .footer2 {
        margin-top:750px;
    }
}

@media only screen and (max-width: 992px) { 
    .footer2 {
        margin-top:100%;
    }

}

@media only screen and (max-width: 960px) { 
    #myCanvas {
        height: 400px;
    }  

    .cardStyle {
        transform: scale(.75, .75);
    }

    .column {
        margin-left: 5%;
    }

}

@media only screen and (max-width: 900px) { 
    .card2 {
        margin-left: 15%;
        width: 600px;
    }

    #topStuff {
        margin-left: -5%;
    }

    .footer2 {
        margin-top:125%;
    }
}

@media only screen and (max-width: 884px) { 
    .bootcamp {
        transform: scale(.75, .75);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: -25px;
    }

    .bottomInfo {
        height: 380px;
    }

    /* .bottomInfo {
        height: 400px;
    } */
}


@media only screen and (max-width: 875px) { 
    .card2 {
        margin-left: 13%;
        margin-top: 150px;
        /* margin-top: 450px; */
    }
    
    .card-body2 {
        height: 175px;
    }


    .iconimages2 {
        height: 75px;
        width: 75px;
    
    }
    
    .cardicons {
        position: absolute;
        bottom: 12px;
        left: 40px;
        width: 100%;
    }
    
    .iconRow2 {
        margin-left: 0px;
    } 
}

@media only screen and (max-width: 850px) { 
    #topStuff {
        position: absolute;
        left: 25%;
    }  

    .bootcamp {
        transform: scale(.6, .6);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bottomInfo {
        height: 360px;
    }

    .subBullet {
        transform: scale(.7, .7);
        margin-left: -50px;
    }
}

@media only screen and (max-width: 767px) { 
    


    #triviaGame {
        margin-top: 80px;
    }

    .words {
        margin-left: 20%;
    }

    .cardStyle {
        transform: scale(1, 1);
    }
    

    .column {
        margin-left: 15%;
    }

    
    .footer2 {
        margin-top:320%;
    }

}

@media only screen and (max-width: 745px) { 
    .bottomInfo {
        height: 380px;
    }
}

@media only screen and (max-width: 720px) { 
    .card2 {
        margin-top: 330px;
    }
}


@media only screen and (max-width: 700px) { 
    #topStuff {
        position: absolute;
        left: 20%;
    } 
    
    .card2 {
        margin-left: 17%;
        margin-top: 100px;
        width: 400px;
    }
    
    .card-body2 {
        height: 150px;
    }
    
    .iconimages2 {
        height: 65px;
        width: 65px;
    }

    .iconRow2 {
        margin-left: -40px;
    }
    
    .cardicons {
        position: absolute;
        bottom: 12px;
        left: 20px;
        width: 100%;
    }
    


    .educationBullet {
        margin-top: -15px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bootcamp {
        transform: scale(.6, .6);
    }

    .subBullet {
        margin-top: -10px;
    }

}




@media only screen and (max-width: 660px) { 
    .footer2 {
        margin-top:300%;
    }

 
}

@media only screen and (max-width: 650px) { 
    .theThree {
        margin-top: 30px;
    }

 
}




@media only screen and (max-width: 600px) { 
    #topStuff {
        position: absolute;
        left: 14%;
    }

    .educationBullet {
        margin-top: -25px;
        font-size: 20px;
        margin-left: -45px;
    }

    .bootcamp {
        transform: scale(.6, .6);
    }

    .subBullet {
        margin-top: -20px;
    }

}

@media only screen and (max-width: 595px) { 
    .card2 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 575px) { 
    .card2 {
        margin-left: 10%;
        width: 400px;
    }
    .footer2 {
        margin-top:330%;
    }

    .column {
        margin-left: 10%
    }
    
    .bottomInfo {
        margin-bottom: 10px;
    }
 
    .card-body2 {
        margin-left: 20px;
    }


    .bootcamp {
        transform: scale(1, 1);
    }

    .educationBullet {
        margin-top: 5px;
        font-size: 20px;
        margin-left: 0px;
    }

    .subBullet {
        transform: scale(1, 1);
        margin-left: 0px;
        margin-top: 0px;
    }

    .carousel-inner {
        height: 3500px;
    }

    
    .words {
        margin-left: 10%;
    }

    .cardStyle {
        transform: scale(1,1)
    }
}

@media only screen and (max-width: 550px) { 
    .footer2 {
        margin-top: 350%;
    }
}

@media only screen and (max-width: 540px) { 
    .card2 {
        margin-left: 10%;
    }

    .footer2 {
        margin-top: 370%;
    }
}


@media only screen and (max-width: 530px) { 

    .footer2 {
        margin-top:380%;
    }
}

@media only screen and (max-width: 500px) { 

    .footer2 {
        margin-top: 400%;
    }

}



@media only screen and (max-width: 460px) { 
    #topStuff {
        position: absolute;
        left: 5%;
    }

    .card2 {
        margin-top: 100px;
        width: 300px;
    }
    
    .iconimages2 {
        height: 40px;
        width: 40px;
    }

    .emailicon2 {
        margin-right: 10px;
    }

    .footer2 {
        margin-top: 470%;
    }
}

@media only screen and (max-width: 430px) { 
    .footer2 {
        margin-top: 500%;
    }
}


@media only screen and (max-width: 370px) { 
    .footer2 {
        margin-top: 550%;
    }
}

@media only screen and (max-width: 350px) { 
    .footer2 {
        margin-top: 590%;
    }

    .card2 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 325px) { 
    .footer2 {
        margin-top: 630%;
    }

    .card2 {
        margin-top: 100px;
    }
}


@media only screen and (max-width: 300px) { 
    .footer2 {
        margin-top: 690%;
    }

}


@media only screen and (max-width: 300px) { 
    .footer2 {
        margin-top: 750%;
    }

}